* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0074D9;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.header {
    height: 500px;
    width: auto;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    margin: 30px;

}

.header > div {
    border: 1px solid black;
    height: 30px;
    width: 300px;
    background-color: #7FDBFF;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.addbok {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}