@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: teal;
    height: 100vh;
    font-family: 'Old Standard TT', serif;
}
table, th, td {
    border: 1px solid;
  }


table {
    min-width: 400px;
    background-color: rgba(245, 222, 179, 0.39);
    border-radius: 20px;
    padding: 20px;
    
}


tr {
    margin: 2px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 3px;

}
tr:hover {
    background-color: rgba(255, 255, 255, 0.433);
    
}

#tableOfBooks {
    border-collapse: collapse;
    margin: 25px 0px;
    font-size: large;
    font-family: monospace;
    min-width: 400px;
    box-shadow: 0 0 20px rgb(199, 251, 63);
    border-radius: 10px;
}

#headerRow {
    background-color: crimson;
    color: #ffffff;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.leftside {
    height:auto;
    min-height: 100vh;
    background-color: gainsboro;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}
      
.footer {
    margin-top: auto;
}
    


.leftside > p {
    font-size: 40px;
    font-family: 'Old Standard TT', serif;
    margin-bottom: 100px;
    margin-top: 100px;
    text-align: center;
}

.leftside > form > div{
    margin: 10px;
    flex: 1;
    
}

.rightside {
    height:auto;
    min-height: 100vh;
    background: rgb(199, 251, 63);
    background: radial-gradient(circle, rgb(108, 132, 46) 0%, rgb(179, 48, 43) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.topic {
    background-color: aliceblue;
    margin: 10px;
    padding: 20px;
    border-radius: 40px;
    font-size: 50px;
    box-shadow: 10px 0px 14px -2px gray;

}

.addbok {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.addbok > p {
    background-color: red;
    width: 100%;
    box-shadow: 10px 10px 10px black;
    margin-bottom: 50px;
}

.addBookForm > div{
    padding: 10px;
    outline: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;


}

input[type=text]:focus {
    background-color: rgb(235, 137, 156);
  }


#subButton, #clearLibrary {
    border: none;
    width: 200px;
    height: 50px;
    background-color: crimson;
    border-radius: 10px;

 
}

#subButton:hover {
    background-color: rgb(9, 104, 9);
    border-radius: 20px;
}

#clearLibrary:hover {
    background-color: rgb(128, 20, 42);
    border-radius: 20px;

}

#readButton {
    width: 30px;
    height: 30px;
}

#readButton:hover {
    transform: scale(1.2);
}

.trashButton {
    background-image: url(./images/trashcan.png);
    background-color: gray;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
}

.trashButton:hover {
    background-color: red;
}


.footer {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
    

